/* Cart.css */
.cart-icon-container {
  flex-wrap: wrap;
  position: relative;
  top: 4px;
}

.cart-icon {
  width: 23px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.product-image {
  height: 100px;
  width: auto;
  max-width: 100%;
  margin: 5px;
}

.cart0 {
  display: flex;
  flex-wrap: wrap;
}

.cart-details {
  position: absolute;
  width: 300px; /* Adjust width as needed */
  background-color: #a3f19c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  top: 30px; /* Adjust top position to avoid overlap */
  left: -250px; /* Adjust as necessary to align with the cart icon */
  z-index: 1000;
}

.cart-details h4 {
  margin-bottom: 10px;
  color: #333;
}

.cart-details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cart-details p {
  margin: 0;
  color: #333;
}
.product-image {
  width: 50px;
  height: 50px;
}
