/* Cart.css */
.cart-icon-container {
  flex-wrap: wrap;
  position: relative;
  top: 4px;
}

.cart-icon {
  width: 23px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.product-image {
  height: 100px;
  width: auto;
  max-width: 100%;
  margin: 5px;
}

.cart0 {
  display: flex;
  flex-wrap: wrap;
}
