.navbar,
.sub-navbar {
  background: linear-gradient(
    to right,
    #8ec958,
    #f7e8d4,
    #8ec958
  ); /* Set the background color */
  color: white;
  padding: 5px;
  display: flex;
  align-items: center; /* This will vertically center the items in the navbar */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}

.sub-navbar {
  background: linear-gradient(
    to right,
    #38b449,
    #6fbf6b,
    #0b5805
  ); /* Sub-navbar has a different background */
  height: 40px; /* Define a fixed height */
  display: flex;
  justify-content: space-around; /* Space items evenly */
}

.sub-navbar a {
  color: white;
  text-decoration: none; /* No underline */
  padding: 10px; /* Padding for clickable area */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sub-navbar a:hover {
  background-color: #6fbf6b; /* Change background on hover */
  color: #fff;
}

.navbar-brand img {
  height: auto; /* maintain aspect ratio */
  width: 80px; /* adjust as needed */
}

.search-container {
  flex-grow: 1; /* Make search container take up the remaining space */
  margin: 0 20px; /* Add some margin around the search bar */
}

.search-input {
  width: 100%;
  padding: 8px 15px; /* Adjusted padding */
  border-radius: 20px; /* Rounded corners */
  border: 1px solid #ccc; /* Light border */
  background-color: #f8f8f8; /* Light gray background */
  transition: border-color 0.3s; /* Smooth border color transition */
}

.search-input:focus {
  border-color: #0ea022; /* Highlight border color on focus */
  outline: none; /* Remove default focus outline */
  border-width: 3px;
}

.navbar-icons {
  display: flex; /* Align the icons in a row */
  align-items: center; /* Center the icons vertically */
  padding: 20px;
}

.navbar-icon-link {
  text-decoration: none; /* Remove default underline */
  color: #0b5805; /* Text color */
  font-size: 16px; /* Adjust font size */
  margin-right: 20px; /* Add some margin between links */
  display: flex; /* Align items in a row */
  align-items: center; /* Center vertically */
  transition: color 0.3s; /* Smooth color transition */
}

.navbar-icon-link:hover {
  color: #fff; /* Change color on hover */
}

.icon-text {
  margin-left: 5px; /* Add some space between icon and text */
}

.navbar-icon-link img {
  width: 24px; /* Set a standard size for your icons */
  height: auto;
  margin-right: 10px;
  margin-left: 10px; /* Add some space between the icons */
}

.icon-text {
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  border-radius: 4px;
  z-index: 1000; /* Set a higher z-index to appear over the navbar */
}

.dropdown a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #f4f4f4;
}
