.product-item {
  width: 230px; /* Adjust width as needed */
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  display: inline;
}

.product-images-container {
  position: relative;
}
.product-images-container img {
  height: 100px;
}

.product-image {
  width: 100%;
  display: block;
}

.product-details {
  padding: 15px;
  background-color: #fff;
}

.product-title {
  font-size: 17px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-description {
  font-size: 14px;
  color: #555;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-category {
  font-size: 16px;
}

.product-brand {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.product-price {
  font-size: 20px;
  color: #b12704;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtocartbutton {
  background-color: #f0c14b;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 5px;
  padding: 3px 18px;
}

.addtocartbutton:hover {
  background-color: #e6af35;
}

.addtofavoritebutton {
  background-color: #f0614b;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 5px;
  padding: 3px 10px;
}

.addtofavoritebutton:hover {
  background-color: #e64f35;
}

/* Additional styles for discounted price and discount label */
.discount-label {
  background-color: #c40000;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-price-original {
  color: #767676;
  text-decoration: line-through;
  margin-right: 5px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.carousel-control.left {
  left: 10px;
}

.carousel-control.right {
  right: 10px;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
